In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("../extra_data/receipt-categorisation-privateleaderboard.csv")
df.head()

    TeamId                        TeamName       SubmissionDate    Score
0  1527751   Семеновых Владимир Николаевич  2018-04-23 23:45:27  0.29960
1  1459010       Акимов Олег Александрович  2018-04-23 17:48:34  0.30161
2  1473500            Artgor [ods_cheater]  2018-04-23 19:16:39  0.31077
3  1593571  Титаевская Наталья Анатольевна  2018-04-23 23:44:09  0.31194
4  1595675        Коломиец Сергей Иванович  2018-04-23 21:01:18  0.31665

In [5]:
df[:30]

     TeamId                          TeamName       SubmissionDate    Score
0   1527751     Семеновых Владимир Николаевич  2018-04-23 23:45:27  0.29960
1   1459010         Акимов Олег Александрович  2018-04-23 17:48:34  0.30161
2   1473500              Artgor [ods_cheater]  2018-04-23 19:16:39  0.31077
3   1593571    Титаевская Наталья Анатольевна  2018-04-23 23:44:09  0.31194
4   1595675          Коломиец Сергей Иванович  2018-04-23 21:01:18  0.31665
5   1604240                   Самсонов Максим  2018-04-23 23:42:22  0.32768
6   1604327                        off rating  2018-04-23 23:19:09  0.33176
7   1456879      Продвинутое линейное решение  2018-03-08 19:38:53  0.34560
8   1550111                  Алексей Полтавец  2018-04-23 23:20:51  0.35159
9   1599980     Русаков Константин Дмитриевич  2018-04-23 18:44:55  0.35423
10  1535385         Нечаев Дмитрий Васильевич  2018-04-21 15:38:46  0.36093
11  1458966      Некрасова Татьяна Валерьевна  2018-04-23 23:35:07  0.36370
12  1589496        Сухарев Николай Николаевич  2018-04-17 06:09:27  0.36504
13  1497731                    Evgeny Smirnov  2018-04-23 22:47:22  0.37807
14  1562947          Потапов Даниил Сергеевич  2018-04-23 21:14:38  0.37906
15  1553248       Балаев Владислав Викторович  2018-04-23 19:01:44  0.38331
16  1540318           Бубон Максим Витальевич  2018-04-23 21:16:47  0.38783
17  1481715      Черемсиин Олег Александрович  2018-04-22 20:04:02  0.39161
18  1528371         Чернов Илья Владиславович  2018-04-08 12:13:42  0.39951
19  1576365          Куликов Павел Викторович  2018-04-23 21:23:14  0.43257
20  1616590           Терешин Илья Викторович  2018-04-23 21:17:20  0.43292
21  1597371       Краснов Дмитрий Анатольевич  2018-04-23 21:19:30  0.43930
22  1543028        Нестеренко Антон Сергеевич  2018-04-16 11:17:27  0.43964
23  1613900         Варахобова Анна Андреевна  2018-04-23 23:25:01  0.44099
24  1616324                  Nellrun (Daniil)  2018-04-23 21:07:31  0.44745
25  1598896          Кушаев Кайрат Евгеньевич  2018-04-22 17:49:24  0.44995
26  1459776  Kornievskaya Anastasia Andreevna  2018-04-21 13:30:21  0.45184
27  1542634    Михайлов Геннадий Вячеславович  2018-04-23 20:52:29  0.45471
28  1456589              Competition baseline  2018-03-08 17:57:37  0.45474
29  1477924                   Воробьева Дария  2018-04-22 19:32:34  0.45548