In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/subm_hugging_face_bert(1).csv")
df.head()

   Unnamed: 0  id           good             brand
0           0   0       ['Клей']         ['ЕРМАК']
1           1   1       ['Торт']       ['##ДУШКА']
2           2   2  ['Смеситель']       ['CALORIE']
3           3   3      ['Лимон']                []
4           4   4     ['Коньяк']  ['САРАДЖИШВИЛИ']

In [3]:
goods = df.good.apply(lambda x: ','.join(x))
goods

0                     [,',К,л,е,й,',]
1                     [,',Т,о,р,т,',]
2           [,',С,м,е,с,и,т,е,л,ь,',]
3                   [,',Л,и,м,о,н,',]
4                 [,',К,о,н,ь,я,к,',]
                    ...
4995                [,',Р,а,м,к,а,',]
4996            [,',н,а,п,и,т,о,к,',]
4997    [,',Н,а,к,о,н,е,ч,н,и,к,и,',]
4998            [,',Ш,о,к,о,л,а,д,',]
4999                [,',О,п,о,р,а,',]
Name: good, Length: 5000, dtype: object

In [9]:
goods = df['good'].apply(eval)

In [12]:
goods = goods.apply(lambda x: ",".join(x))
goods

0              Клей
1              Торт
2         Смеситель
3             Лимон
4            Коньяк
           ...
4995          Рамка
4996        напиток
4997    Наконечники
4998        Шоколад
4999          Опора
Name: good, Length: 5000, dtype: object

In [14]:
brands = df['brand'].apply(eval).apply(lambda x: ",".join(x))
brands[:10]

0           ЕРМАК
1         ##ДУШКА
2         CALORIE
3
4    САРАДЖИШВИЛИ
5     Born Pretty
6    Chicken Beer
7            Tebo
8        Грандорф
9          Одеяло
Name: brand, dtype: object

In [16]:
df = pd.DataFrame(
    {
        "id": [i for i in range(len(brands))],
        "good": goods,
        "brand": brands
    }
)
df.head()

   id       good         brand
0   0       Клей         ЕРМАК
1   1       Торт       ##ДУШКА
2   2  Смеситель       CALORIE
3   3      Лимон
4   4     Коньяк  САРАДЖИШВИЛИ

In [17]:
df.to_csv("bert.csv")

In [18]:
names = pd.read_csv("../data/test_dataset.csv").name
names[:10]

0      469-210 ЕРМАК Клей универсальный, 15мл, блистер
1                      Торт СЛАДУШКА Зимняя вишня 700г
2                 Смеситель "CALORIE" 1023 А06 д/кухни
3                                       Лимон 50гр БАР
4                Коньяк САРАДЖИШВИЛИ 5 лет 0,5л Грузия
5    Born Pretty, Пластина для стемпинга BP-L011 Te...
6                    Рис Chicken Beer с гуляшом 250 гр
7      Труба Tebo п/п D-32 PN20 4м стекловолокно хлыст
8    Грандорф Консервы для собак Куропатка с Индейк...
9                      1) 000893|Одеяло "Автотепло" №8
Name: name, dtype: object

In [ ]:
def find_word_index(word, sentence):
    pattern = re.compile(r'\b{}\b'.format(re.escape(word)))
    matches = re.finditer(pattern, sentence)
    return match.start()

In [ ]:
new_brands, new_goods = [], []
for name, good, brand in zip(names, goods, brands):
    for g in good:
        if g[0] == "#":
            find_wor